.card {
  background: white;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  /*max-width: 600px;*/
  width: 85vw;
  margin: 32px auto;
}

.card h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.description {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
  line-height: 1.5;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #111827;
}

.radio-option input[type="radio"] {
  accent-color: #219D69;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.continue-btn {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  background-color: #219D69;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.continue-btn:hover {
  background-color: #059669;
}
