<h3><strong>Personal Data</strong></h3>
<form [formGroup]="personalForm" nz-form nzLayout="vertical">
  <!-- Name -->
  <nz-row class="form-row" [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Last Name</nz-form-label>
        <nz-form-control nzErrorTip="poop">
          <input nz-input formControlName="lastName" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">First Name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="firstName" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label>Middle Initial</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="middleInitial" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <!-- Title & Civil Status -->
  <nz-row class="form-row" [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="title">Title</nz-form-label>
        <nz-form-control>
          <nz-select id="title" formControlName="title" nzPlaceHolder="Select">
            <nz-option nzValue="Mr." nzLabel="Mr."></nz-option>
            <nz-option nzValue="Ms." nzLabel="Ms."></nz-option>
            <nz-option nzValue="Mrs." nzLabel="Mrs."></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="civilStatus">Civil Status</nz-form-label>
        <nz-form-control>
          <nz-select id="civilStatus" formControlName="civilStatus" nzPlaceHolder="Select">
            <nz-option nzValue="Single" nzLabel="Single"></nz-option>
            <nz-option nzValue="Married" nzLabel="Married"></nz-option>
            <nz-option nzValue="Widowed" nzLabel="Widowed"></nz-option>
            <nz-option nzValue="Divorced" nzLabel="Divorced"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <!-- Birth -->
  <nz-row class="form-row" [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Birth Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="birthDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="birthPlace">Birth Place</nz-form-label>
        <nz-form-control>
          <input id="birthPlace" nz-input formControlName="birthPlace" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <!-- Age & TIN -->
  <nz-row class="form-row" [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="age">Age</nz-form-label>
        <nz-form-control>
          <input id="age" nz-input type="number" formControlName="age" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="tin">TIN</nz-form-label>
        <nz-form-control>
          <input id="tin" nz-input formControlName="tin" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <!-- Address -->
  <nz-form-item class="form-row">
    <nz-form-label [nzRequired]="true" nzFor="address">Philippine Address</nz-form-label>
    <nz-form-control>
      <input id="address" nz-input formControlName="address" />
    </nz-form-control>
  </nz-form-item>

  <!-- Home & Fax -->
  <nz-row class="form-row" [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label nzFor="homePhone">Home Number</nz-form-label>
        <nz-form-control>
          <input id="homePhone" nz-input formControlName="homePhone" placeholder="+63" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label nzFor="fax">Fax Number</nz-form-label>
        <nz-form-control>
          <input id="fax" nz-input formControlName="fax" placeholder="+63" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <!-- Office & Mobile -->
  <nz-row class="form-row" [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label nzFor="officePhone">Office Number</nz-form-label>
        <nz-form-control>
          <input id="officePhone" nz-input formControlName="officePhone" placeholder="+63" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="mobile">Mobile Number</nz-form-label>
        <nz-form-control>
          <input id="mobile" nz-input formControlName="mobile" placeholder="+63" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <!-- Email -->
  <nz-form-item class="form-row">
    <nz-form-label [nzRequired]="true" nzFor="email">Email Address</nz-form-label>
    <nz-form-control>
      <input id="email" nz-input formControlName="email" type="email" />
    </nz-form-control>
  </nz-form-item>

</form>
