.coverage-card {
  max-width: 440px;
  background-color: #ffffff;
  border: 1px solid #e4e7ec;
  border-radius: 8px;
  padding: 25px;
  flex: 1;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* Flexbox for buttons */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 65px;
}

.coverage-card h3 {
  font-weight: 500;
  position: relative;
  padding-right: 65px; /* Add space to prevent text from overlapping the sparkle */
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
}

.coverage-card hr {
  border: none;
  border-top: 1px solid #e4e7ec;
  margin-bottom: 30px;
}

.coverage-card ul {
  list-style: none;
  margin-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
  color: #868e96;
}

.coverage-card ul li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
}

.list-icon {
  margin-right: 10px;
  margin-left: 4px;
}

.card-actions {
  display: flex;
  margin-top: auto; /* Pushes the buttons to the bottom */
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  width: 50%;
}

.btn.primary {
  background-color: #219d69;
  color: #ffffff;
}

.btn.primary:hover {
  background-color: #1d8a5e;
}

.btn.primary.disabled {
  background-color: #667085;
  cursor: not-allowed;
}

.btn.secondary {
  background-color: transparent;
  color: #219d69;
  border: 1px solid #219d69;
}

.btn.secondary:hover {
  background-color: #effff8;
}

.ant-btn {
  height: 46px;
}

@media (max-width: 1440px) {
  .coverage-card {
    max-width: 360px;
  }

  .coverage-card h3 {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .coverage-section {
    padding: 20px;
  }

  .coverage-cards {
    gap: 10px;
    flex-direction: column;
  }

  .coverage-card {
    padding: 20px;
    max-width: 100%
  }

  .btn {
    font-size: 14px;
  }
}
