<div class="right-panel">
  <div class="insurance-box">
    <h2>{{ chosenProduct?.description }}</h2>
    <p>A comprehensive insurance program designed to protect our modern day heroes: The OFW.</p>

    @if (quoteCalculatorService.getQuote()) {
      <p>
      <span class="dollar">$</span><span class="amount">{{ quoteCalculatorService.getQuote() }}</span><span> total</span>
      </p>

      @if (stepsService.step() == 1) {
        <button class="continue-btn" (click)="continue()">Continue</button>
      }
    }
    <button class="change-btn" (click)="changePlan()">Change Plan</button>
  </div>
</div>
