<div class="right-panel">
  <div class="insurance-box">
    <h2>{{ chosenProduct?.description }}</h2>
    <p>A comprehensive insurance program designed to protect our modern day heroes: The OFW.</p>

    @if (quoteCalculatorService.getQuote()) {
      @if (productService.getProductId() == 'B') {
        <div class="amount-container">
          <p>
            <span class="currency">$</span><span class="amount">{{ quoteCalculatorService.getQuote() }}</span><span> total</span>
          </p>
          <p class="environment">{{ quoteDetailsService.getEnvironment() | titlecase }} Based</p>
        </div>
      }

      @if (productService.getProductId() == 'C') {
        <div class="amount-container">
          <p>
            <span class="currency">P</span><span class="amount">{{ quoteCalculatorService.getQuote() }}</span><span> total</span>
          </p>
        </div>
      }
      @if (stepsService.step() == 1) {
        <button nz-button [nzLoading]="isLoading" class="continue-btn" (click)="continue()">Continue</button>
      }
    }
  <!--<button class="change-btn" (click)="changePlan()">Change Plan</button>-->
  </div>
</div>

