<div class="tabs">
  <button
    class="tab"
    [class.active]="environment == 'sea'"
    (click)="setEnvironment('sea')">
    Sea Based
  </button>
  <button
    class="tab"
    [class.active]="environment == 'land'"
    (click)="setEnvironment('land')">
    Land Based
  </button>
</div>

@if (environment === 'sea') {
  <div class="tab-content">
    <table class="coverage-table">
      <thead>
      <tr>
        <th>Coverage</th>
        <th>Insurance Amount</th>
      </tr>
      </thead>
      <tbody>
        @for (coverage of selectedProduct?.seaCoverages; track coverage) {
          <tr>
            <td>{{ coverage.coverage }}</td>
            <td>{{ coverage.amount}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

@if (environment === 'land') {
  <div class="tab-content">
    <table class="coverage-table">
      <thead>
      <tr>
        <th>Coverage</th>
        <th>Insurance Amount</th>
      </tr>
      </thead>
      <tbody>
        @for (coverage of selectedProduct?.landCoverages; track coverage) {
          <tr>
            <td>{{ coverage.coverage }}</td>
            <td>{{ coverage.amount}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
