<section>
  <div class="header">
    <h4 class="subtitle">Contact Us</h4>
    <h1 class="title">Get in touch with us</h1>
    <p class="description">
      We’re here to assist you. Whether you need support with your travel insurance, <br>
      have an emergency while abroad, or want to share feedback, our dedicated team <br>
      is just a call or email away.
    </p>
  </div>

  <div class="card-grid">
    <!-- Bayani Shield -->
    <div class="contact-card">
      <img src="images/contact-us/ofw.svg" alt="OFW Icon" />
      <h3>Bayani Shield Insurance Inquiries</h3>
      <p class="label">Telephone Numbers:</p>
      <p>(+63) 2 8810 4916 (Landline)<br>
        (+63) 2 8878 3000 (Landline)<br>
        (+63) 2 8651 9500 (Landline)</p>
      <p class="gray">(Mondays to Fridays 8:30 AM to 5:30 PM)</p>
      <p>Email: <a href="mailto:ofw@prudentialguarantee.com">ofw&#64;prudentialguarantee.com</a></p>
    </div>

    <!-- Emergency -->
    <div class="contact-card">
      <img src="images/contact-us/ambulance.svg" alt="Emergency Icon" />
      <h3>24–Hour Emergency Assistance Hotline</h3>
      <p class="label">Telephone Number:</p>
      <p>(+63) 2 8459 4734</p>
      <p class="gray">Call collect anytime, anywhere in the world in the event of an emergency.</p>
    </div>

    <!-- Complaints -->
    <div class="contact-card">
      <img src="images/contact-us/support.svg" alt="Complaint Icon" />
      <h3>Customer Complaints</h3>
      <p class="label">Telephone Number:</p>
      <p>(+63) 2 8878 3000</p>
      <p class="gray">(Mondays to Fridays 8:30 AM to 5:30 PM)</p>
      <p>Email: <a href="mailto:customercare@prudentialguarantee.com">customercare&#64;prudentialguarantee.com</a></p>
    </div>
  </div>
</section>
