<div class="review-container">
  @if (false) {
    <section class="section">
      <h2>Agency</h2>
      <p class="subtext">Details of the agency provided by the policyholder</p>

      <h3>Agency Details</h3>
      <div class="flex-tab">
        <div class="pair"><div class="label">Agency Name:</div><div class="value">{{ formData?.agency?.agencyName }}</div></div>
        <div class="pair"><div class="label">Email Address:</div><div class="value">{{ formData?.agency?.email }}</div></div>
        <div class="pair"><div class="label">Telephone Number:</div><div class="value">{{ formData?.agency?.telephonePrefix }} {{ formData?.agency?.telephoneNumber }}</div></div>
        <div class="pair"><div class="label">Mobile Number:</div><div class="value">{{ formData?.agency?.mobilePrefix }} {{ formData?.agency?.mobileNumber }}</div></div>
        <div class="pair"><div class="label">Contact Person:</div><div class="value">{{ formData?.agency?.contactPerson }}</div></div>
      </div>
    </section>
  }

  <section class="section">
    <h2>Policy Holder</h2>
    <p class="subtext">Details of the policyholder</p>

    <h3>Personal Data</h3>
    <div class="flex-tab">
      <div class="pair"><div class="label">Full Name:</div>
        <div class="value">{{ formData?.personal?.title }} {{ formData?.personal?.firstName }} {{ formData?.personal?.middleInitial }} {{ formData?.personal?.lastName }}</div>
      </div>
      <div class="pair"><div class="label">Civil Status:</div><div class="value">{{ formData?.personal?.civilStatus }}</div></div>
      <div class="pair"><div class="label">Birth Date:</div><div class="value">{{ formData?.personal?.birthDate | date: 'longDate' }}</div></div>
      <div class="pair"><div class="label">Birth Place:</div><div class="value">{{ formData?.personal?.birthPlace }}</div></div>
      <div class="pair"><div class="label">Age:</div><div class="value">{{ formData?.personal?.age }}</div></div>
      <div class="pair"><div class="label">TIN Number:</div><div class="value">{{ formData?.personal?.tin }}</div></div>
      <div class="pair"><div class="label">Philippine Address:</div><div class="value">{{ formData?.personal?.address }}</div></div>
      <div class="pair"><div class="label">Mobile Number:</div><div class="value">{{ formData?.personal?.mobile }}</div></div>
      <div class="pair"><div class="label">Email Address:</div><div class="value">{{ formData?.personal?.email }}</div></div>
    </div>

    <h3>Passport Details</h3>
    <div class="flex-tab">
      <div class="pair"><div class="label">Full Name:</div>
        <div class="value">{{ formData?.passport?.firstName }} {{ formData?.passport?.middleName }} {{ formData?.passport?.lastName }}</div>
      </div>
      <div class="pair"><div class="label">Passport No.:</div><div class="value">{{ formData?.passport?.passportNo }}</div></div>
      <div class="pair"><div class="label">Issued On:</div><div class="value">{{ formData?.passport?.issuedOn | date: 'longDate' }}</div></div>
      <div class="pair"><div class="label">Issued At:</div><div class="value">{{ formData?.passport?.issuedAt }}</div></div>
    </div>

    <h3>Work</h3>
    <div class="flex-tab">
      <div class="pair"><div class="label">Company Name:</div><div class="value">{{ formData?.work?.companyName }}</div></div>
      <div class="pair"><div class="label">Address:</div><div class="value">{{ formData?.work?.address }}</div></div>
      <div class="pair"><div class="label">Country:</div><div class="value">{{ formData?.work?.country }}</div></div>
      <div class="pair"><div class="label">Industry:</div><div class="value">{{ formData?.work?.industry }}</div></div>
      <div class="pair"><div class="label">Vessel Name:</div><div class="value">{{ formData?.work?.vesselName }}</div></div>
      <div class="pair"><div class="label">Designation:</div><div class="value">{{ formData?.work?.designation }}</div></div>
      <div class="pair"><div class="label">Start Date:</div><div class="value">{{ formData?.work?.startDate | date: 'longDate' }}</div></div>
      <div class="pair"><div class="label">End Date:</div><div class="value">{{ formData?.work?.endDate | date: 'longDate' }}</div></div>
      <div class="pair"><div class="label">Period of Coverage:</div><div class="value">{{ formData?.work?.months }} months</div></div>
    </div>
    <hr>
    <div class="btn-container">
      <button class="edit-btn" (click)="goBack()">Edit</button>
    </div>
  </section>




  <div class="card">
    <h2>Select Payment</h2>
    <p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>

    <div class="payment-method">
      <h4>Credit Card</h4>
      <label class="payment-option">
        <input type="radio" name="payment" />
        <div class="card-icons">
          <img src="https://img.icons8.com/color/48/visa.png" alt="Visa" />
          <img src="https://img.icons8.com/color/48/mastercard.png" alt="Mastercard" />
          <img src="https://img.icons8.com/color/48/jcb.png" alt="JCB" />
        </div>
      </label>
    </div>

    <div class="notice">
      <strong>Notice:</strong> You will be automatically redirected to a secure third party website to process the payment
    </div>

    <button class="purchase-btn disabled" (click)="continue()">Purchase Policy</button>
  </div>
</div>
