<section>
  <header class="product-header">
    <div class="product-info">
      <h3>Terms & Conditions</h3>
      <p>
        Review the terms and conditions for each insurance package below.
      </p>
    </div>
  </header>

  <div class="section-title">
    Downloadable Documents
  </div>

  <div class="card-grid">
    <div class="contact-card">
      <img src="images/terms-and-conditions/compulsory.svg" alt="OFW Icon" />
      <h4>Compulsory</h4>
      <p class="label">Detailed terms and coverage information for agency-hired OFWs. Click below to download.</p>
      <div class="action-btn" (click)="downloadCompulsory()">
        Download PDF
      </div>
    </div>

    <div class="contact-card">
      <img src="images/terms-and-conditions/rehires.svg" alt="Emergency Icon" />
      <h4>Rehires</h4>
      <p class="label">Specific terms and coverage information for rehires. Click below to download.</p>
      <div class="action-btn" (click)="downloadRehires()">
        Download PDF
      </div>
    </div>

    <div class="contact-card">
      <img src="images/terms-and-conditions/family-shield.svg" alt="Complaint Icon" />
      <h4>Family Shield</h4>
      <p class="label">Learn what’s covered under the family plan and who qualifies. Click below to download.</p>
      <div class="action-btn" (click)="downloadFamilyShield()">
        Download PDF
      </div>
    </div>
  </div>
</section>
