.coverage-section {
  padding: 20px 20px;
  text-align: center;
  max-width: 1920px;
  margin: auto;
  height: auto;
  background: #FEFEFE;
}

h2,
span {
  font-family: 'Montserrat', serif;
}

.coverage-section h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.coverage-section h2 span {
  color: #ffc01d; /* Highlighted color for "Coverages" */
  font-weight: 600;
}

.coverage-cards {
  display: flex;
  justify-content: center;
  gap: 32px;
}

@media (max-width: 768px) {
  .coverage-section {
    padding: 20px;
  }

  .coverage-cards {
    gap: 10px;
    flex-direction: column;
  }

}
