<h3><strong>Passport Details</strong></h3>
<form [formGroup]="passportForm" nz-form nzLayout="vertical">

  <nz-row class="form-row" [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="lastName">Last Name</nz-form-label>
        <nz-form-control [nzErrorTip]="'Last name is required'">
          <input nz-input id="lastName" formControlName="lastName" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="firstName">First Name</nz-form-label>
        <nz-form-control [nzErrorTip]="'First name is required'">
          <input nz-input id="firstName" formControlName="firstName" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label nzFor="middleName">Middle Name</nz-form-label>
        <nz-form-control>
          <input nz-input id="middleName" formControlName="middleName" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row [nzGutter]="16">
    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="passportNo">Passport No.</nz-form-label>
        <nz-form-control [nzErrorTip]="'Passport number is required'">
          <input nz-input id="passportNo" formControlName="passportNo" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="issuedOn">Issued On</nz-form-label>
        <nz-form-control [nzErrorTip]="'Issue date is required'">
          <nz-date-picker id="issuedOn" formControlName="issuedOn"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="issuedAt">Issued At</nz-form-label>
        <nz-form-control [nzErrorTip]="'Place of issue is required'">
          <input nz-input id="issuedAt" formControlName="issuedAt" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
