<div class="stepper">
  @for (step of steps; track step; let i = $index) {
    <div class="step" [class.active]="i === stepsService.step()" [class.completed]="i < stepsService.step()">
      <span class="circle">
        @if (i < stepsService.step()) {
          <ng-container><img src="images/steps/check.svg" alt=""></ng-container>
        }
        @if (i >= stepsService.step()) {
          <ng-container>{{ i + 1 }}</ng-container>
        }
      </span>
      <span class="label">{{ step }}</span>
    </div>
  }
</div>
