<div class="tabs">
  <button
    class="tab"
    [class.active]="selectedTab === 'sea'"
    (click)="selectTab('sea')">
    Sea based
  </button>
  <button
    class="tab"
    [class.active]="selectedTab === 'land'"
    (click)="selectTab('land')">
    Land based
  </button>
</div>

@if (selectedTab === 'sea') {
  <div class="tab-content">
    <table class="coverage-table">
      <thead>
        <tr>
          <th>Coverage</th>
          <th>Insurance Amount</th>
        </tr>
      </thead>
      <tbody>
        @for (coverage of selectedProduct?.seaCoverages; track coverage) {
          <tr>
            <td>{{ coverage.coverage }}</td>
            <td>{{ coverage.amount}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

@if (selectedTab === 'land') {
  <div class="tab-content">
    <table class="coverage-table">
      <thead>
      <tr>
        <th>Coverage</th>
        <th>Insurance Amount</th>
      </tr>
      </thead>
      <tbody>
        @for (coverage of selectedProduct?.landCoverages; track coverage) {
          <tr>
            <td>{{ coverage.coverage }}</td>
            <td>{{ coverage.amount}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

<div class="button-container">
  <button class="continue" (click)="continue()">Continue</button>
</div>
