@if(productService.getProductId() === 'B') {
  @if (quoteDetailsService.getEnvironment()=== 'sea') {
    <div class="tab-content">
      <table class="coverage-table">
        <thead>
        <tr>
          <th>Coverage</th>
          <th>Insurance Amount</th>
        </tr>
        </thead>
        <tbody>
          @for (coverage of selectedProduct?.seaCoverages; track coverage) {
            <tr>
              <td>@if (coverage.indent) {
                &nbsp;&nbsp;
              }{{ coverage.coverage }}</td>
              <td>{{ coverage.amount}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (quoteDetailsService.getEnvironment() === 'land') {
    <div class="tab-content">
      <table class="coverage-table">
        <thead>
        <tr>
          <th>Coverage</th>
          <th>Insurance Amount</th>
        </tr>
        </thead>
        <tbody>
          @for (coverage of selectedProduct?.landCoverages; track coverage) {
            <tr>
              <td>@if (coverage.indent) {
                &nbsp;&nbsp;
              }{{ coverage.coverage }}</td>
              <td>{{ coverage.amount}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  <div class="button-container">
    <button
      nz-button
      [nzLoading]="isLoading"
      class="continue"
      (click)="continue()"
    >Continue
    </button>
  </div>
}

@if(productService.getProductId() === 'C') {
  <app-details2></app-details2>
}
