<app-steps></app-steps>
<section>
  <div class="icon-circle">
    @if(status == 'success') {
      <img src="images/confirmation/credit-card-success.svg" alt="Card Success" />
    } @else {
      <img src="images/confirmation/credit-card-fail.svg" alt="Card Error" />
    }
  </div>
  <h2>{{ message }}</h2>
  <p class="subtext">
    {{ subMessage }}
  </p>
  @if(status == 'success') {
    <button (click)="backToHome()">Back to Home</button>
  } @else {
    <button class="fail" (click)="backToPayment()">Back to Payment Details</button>
  }
</section>
