<nav>
  <img src="images/navbar/logo.png" alt="Logo">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/home" >Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/faqs" >FAQS</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/contact-us" >Contact Us</a>
    </li>
    <li class="cta">
      <a routerLink="/claims" >Claims</a>
    </li>
  </ul>
  <span class="hamburger" aria-label="Toggle menu" (click)="toggleMenu()">
    {{ isMenuOpen ? '✕' : '☰'}}
  </span>
</nav>

<!--  mobile menu-->
<nav class="sidebar" [class.open]="isMenuOpen" id="sidebar">
  <div class="mobile-menu">
    <ul class="mobile-menu-list">
      <li routerLinkActive="active">
        <a routerLink="/home" >Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/faqs" >FAQS</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contact-us" >Contact Us</a>
      </li>
      <li class="cta">
        <a routerLink="/claims" >Claims</a>
      </li>
    </ul>
  </div>
</nav>

