<footer class="footer">
  <div class="footer-container">
    <!-- Left Section -->
    <div class="footer-left">
      <img src="images/navbar/logo.png" alt="Company Logo" class="footer-logo" />
      <h3 class="company-name">Prudential Guarantee and Assurance, Inc.</h3>
      <p>Coyiuto House, 119 Carlos Palanca Street, Legaspi Village, Makati City, 1229 Philippines</p>
      <p>
        <strong>Tel Nos:</strong>
        <a href="tel:+63288104916"> (632) 8810-4916 / 8651-9500</a><br />
        From Mondays to Fridays, 8:30 AM - 5:30 PM<br />
        <strong>Mobile:</strong> <a href="tel:+63917842PGAI"> (0917) 842-PGAI (7424)</a>
        <br />
        <strong>Email:</strong>
        <a href="mailto:ofw@prudentialguarantee.com"> ofw&#64;prudentialguarantee.com</a><br />
        <strong>Website:</strong>
        <a href="https://www.prudentialguarantee.com" target="_blank"> https://www.prudentialguarantee.com</a>
      </p>
      <div class="social-icons">
        <!--        <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>-->
        <!--        <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>-->
      </div>
    </div>

    <div class="footer-right-container">
      <!-- Middle Section -->
      <div class="footer-middle">
        <h4>Information</h4>
        <ul>
          <li><a routerLink="/faqs">FAQs</a></li>
          <li><a href="https://www.prudentialguarantee.com" target="_blank">About</a></li>
        </ul>
      </div>

      <!-- Right Section -->
      <div class="footer-right">
        <h4>Legal</h4>
        <ul>
          <li><a routerLink="/terms-and-conditions">Terms & Condition</a></li>
          <li><a routerLink="/faqs">Privacy Policy</a></li>
          <li><a routerLink="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>

  </div>
  <hr />
  <p class="copyright">© Copyright 2025 Prudential Guarantee and Assurance, Inc. All rights reserved.</p>
</footer>
