<section>
  <h4 class="section-label">Claims</h4>
  <h2>Insurance Claim Process</h2>
  <p class="subtitle">Everything you need to know to successfully file and complete your OFW <br /> insurance claim with ease and confidence.</p>

  <div class="procedure-card">
    <div class="procedure-section">
      <h3>A. Claim Notification</h3>
      <p>The company may receive notification of claim through phone, emails, or hard copy of documents from the manning agency, insured or insured’s representative.</p>
      <p>1. The Claims Officer shall acknowledge the notification of the manning agency/insured/insured’s representative within 24 hours from receipt of the claim notification.</p>
    </div>

    <div class="procedure-section">
      <h3>B. Registration of Claim</h3>
      <p>2. The Claims Officer will check/verify the policy in the system, within 24 hours from receipt of the claim notification.</p>
      <p>3. The Claims Officer will encode the claim in the system within 24–48 hours from receipt of the claim notification or sufficient loss details to encode the claim. If loss details are not yet provided, the Claims Officer will request the information from the client and follow-up the next day.</p>
      <p>4. The Claims Officer must verify the premium payment upon encoding of the claim.</p>
    </div>

    <div class="procedure-section">
      <h3>C. Pacifico’s Assistance</h3>
      <p>5. Upon client request for Repatriation Costs/Compassionate Visit/Medical Evacuation, the Claims Officer must contact or forward the claim notification to Pacifico within 24 hours from receipt of the claim notification. For other types of claims, the Claims Officer must request Insured’s authorization of required documents within 24–48 hours from receipt of the claim notification once the premium is verified as paid.</p>
      <p><a class="section-link" (click)="scrollToSection()">Please see the list of documents.</a></p>
    </div>

    <div class="procedure-section">
      <h3>D. Update and Communication with the Insured</h3>
      <p>6. The Claims Officer shall acknowledge receipt of any inquiry or email communication from the client within 24 hours from receipt of the said email.</p>
      <p>7. The Claims Officer must be able to provide updates on any development on the inquiry/concern within 24–48 hours from receipt of client’s email/inquiry.</p>
    </div>

    <div class="procedure-section">
      <h3>E. Evaluation</h3>
      <p>8. The Claims Officer will acknowledge Insured’s submitted documents within 24–48 hours from receipt of the documents.</p>
      <p>9. The Claims Officer must review the submitted documents and if found complete, must be able to process the Evaluation within 5 working days from receipt of the documents. The Claims Officer must have the Evaluation further reviewed (FS sign) from Insured’s completed documents.</p>
      <p>10. The Claims Officer must communicate the offer to Insured within the day of the approval of the evaluation. Otherwise, the Claims Officer must provide necessary update on the status of the file to the client.</p>
    </div>

    <div class="procedure-section">
      <h3>F. Claims Payment</h3>
      <p>11. The Claims Officer must process the DP upon receipt of Insured’s confirmation and compliance on the paper.</p>
      <p>12. The Claims Officer must seek approval of the GP within the day of the DP preparation.</p>
      <p>13. The Claims Officer must forward the DP to the Accounting and Treasury.</p>
      <p>14. The assigned head of Treasury must release the settlement cheque to the Claims Department within five (5) working days from receipt of DP.</p>
      <p>15. The Claims Officer must inform the client on the availability of the settlement cheque within 24 hours from receipt of the cheque.</p>
      <p>16. Upon receiving the cheque from Pacifico, the Claims Officer shall acknowledge receipt of Pacifico’s billing within 24–48 hours from receipt of the claim notification.</p>
      <p>17. The Claims Officer will review the billing and supporting documents and evaluate within 5–7 working days from receipt of the claim notification.</p>
      <p>18. Once the documents are found complete, the Claims Officer will prepare the DP payable to Pacifico.</p>
      <p>19. The settlement amount shall be released to Pacifico within 30 working days from PGAI’s receipt of the billing and complete supporting documents.</p>
    </div>

    <div class="procedure-section">
      <h3>G. Closing of Claim</h3>
      <p>20. The Claims Officer shall close the claim in the system within 5 working days from release of the settlement cheque.</p>
    </div>
  </div>

  <!--  -->
  <div class="procedure-card">
    <h4 id="list-of-documents" class="section-title">List of Documents</h4>
    <div class="procedure-section">
      <h3>A. Accidental Death</h3>
      <p>1. Death Certificate</p>
      <p>2. Police Accident Report</p>
      <p>3. Any Philippine Government-issued ID or document to prove identity and/or relation of the beneficiary to the OFW</p>
      <p>4. Employment Contract</p>
      <p>5. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>B. Natural Death</h3>
      <p>1. Death Certificate</p>
      <p>2. Any Philippine Government-issued ID or document to prove identity and/or relation of the beneficiary to the OFW</p>
      <p>3. Employment Contract</p>
      <p>4. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>C. Permanent Total Disablement</h3>
      <p>1. Medical Report</p>
      <p>2. Incident Report</p>
      <p>3. Medical and/or Medical Certificate issued/certified verifying the coverage for the Permanent Total Disablement</p>
      <p>4. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>D. Repatriation Cost (Death and Termination of Employment)</h3>
      <p>1. Certification from the Philippine Overseas Labor Office (POLO) at the host country that the OFW is in need of repatriation due to death or injury</p>
      <p>2. Copy of Airline Ticket</p>
      <p>3. Official Receipt for the ticket</p>
      <p>4. Employment Contract</p>
      <p>5. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>E. Subsistence Allowance Benefit</h3>
      <p>1. Certification from the POLO at the host country that the OFW is involved in a case. It should indicate the name of the case, parties involved, and nature of the cause of action of the OFW</p>
      <p>2. Employment Contract</p>
      <p>3. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>F. Money Claim</h3>
      <p>1. Certified true copy of NLRC decision or compromise agreement</p>
      <p>2. Incident Report</p>
      <p>3. Employment Contract</p>
      <p>4. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>G. Compassionate Visit</h3>
      <p>1. Medical Certificate from the doctor or hospital from the host country</p>
      <p>2. Certification from the doctor or hospital that identifies the medical condition of the OFW and the reason for compassionate visit (eg., due to terminal illness)</p>
      <p>3. Copy of Airline Ticket</p>
      <p>4. Official Receipt for the ticket</p>
      <p>5. Employment Contract</p>
      <p>6. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>H. Medical Consultation</h3>
      <p>1. Medical Certificate issued by the doctor or hospital where the OFW is confined stating the following:</p>
      <p>• Medical condition of the OFW</p>
      <p>• Medical services undertaken</p>
      <p>• If transfer to the Philippines is necessary</p>
      <p>2. Incident Report if needed</p>
      <p>3. Employment Contract</p>
      <p>4. Passport with entry/exit stamps</p>
    </div>

    <div class="procedure-section">
      <h3>I. Medical Repatriation</h3>
      <p>1. Medical Certificate issued by the doctor or hospital where the OFW is confined stating the following:</p>
      <p>• Medical condition of the OFW</p>
      <p>• Medical services undertaken</p>
      <p>• If transfer to the Philippines is necessary</p>
      <p>2. Document showing the total cost and breakdown of the cost of the medical repatriation</p>
      <p>3. Employment Contract</p>
      <p>4. Passport with entry/exit stamps</p>
    </div>
  </div>
</section>
